 <!-- 自定义样式 -->
              <style>
                .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel {
                  background: linear-gradient(-45deg, #FFD972, #EFA7A7, #FCBCB8, #A7E8BD) 0% 0% / 400% 400%;
                  animation: 15s ease 0s infinite normal none running gradientBG;
                  color: white;
                }
                .cbp_tmtimeline>li .cbp_tmlabel {
                  background: linear-gradient(-45deg, #FFD972, #EFA7A7, #FCBCB8, #A7E8BD) 0% 0% / 400% 400%;
                  animation: 15s ease 0s infinite normal none running gradientBG;
                  color: white;
                }
                .cbp_tmtimeline>li:nth-child(odd) .cbp_tmlabel:after {
                  border-right-color:  #FCBCB8
                }
                .cbp_tmtimeline>li .cbp_tmlabel:after {
                  border-right-color:  #A7E8BD
                }
                .button {
                  background: linear-gradient(-45deg, #FFD972, #EFA7A7, #FCBCB8, #A7E8BD) 0% 0% / 400% 400%;
                  animation: 15s ease 0s infinite normal none running gradientBG;
                  color: white;
                }
                @keyframes gradientBG {
                    0% {
                        background-position: 0% 50%;
                    }
                    50% {
                        background-position: 100% 50%;
                    }
                    100% {
                        background-position: 0% 50%;
                    }
                }
              </style>
              <!-- 自定义样式.end -->
